:root {
    --jet: #282B2B;
    --cadet-gray: #7AA6B3;
    --platinum: #E8E7E3;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--jet) ;
}

#header h1 {
    color: var(--platinum);
    margin-left: 20px;
    margin-right: 40px;
}

#profile-picture {
    min-width: 92px;
    border-radius: 25%;
    width: 30%;
    height: auto;
    margin: 40px;
}

#navbar {
    background-color: var(--cadet-gray);
    padding: 15px;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: white;
    font-size: 32px;
    font-weight:bold;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#navbar a:hover {
    background-color: var(--platinum);
    color: var(--cadet-gray)
}

/* mobile responsive down to 375px */
@media (max-width: 700px ) {
    h1 {
        font-size: 32px;
    }

    #header h1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    #navbar {
        height: 30px;
        padding: 5px;
    }

    #navbar a {
        font-size: 14px;
    }

}